body {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1000px;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: 1.2rem;
}

.count {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

#admin-form {
  display: none;
}

li:hover {
  cursor: pointer;
}
